{% extends "TinDevApp/base_home.html" %}
{% load static %}
{% block title %}Candidate's Homepage{% endblock %}

{% block nav %} 
    <nav class="nav">
        <a href="{% url 'TinDevApp:candidate-home' name %}" id="active">Home</a>
        <a href="{% url 'TinDevApp:CandidateViewActive' name %}" id="inactive">Jobs Board</a>
        <a href="{% url 'TinDevApp:ApplicationView' name %}" id="inactive">Applications</a>
        <a href="#" id="inactive">Offers</a>
        <a href="{% url 'TinDevApp:candidate-login' %}" id="inactive">Logout</a>
    </nav>
{% endblock %}

{% block content %} 
    <img src="{% static 'main.jpeg' %}" alt="home_page" style="width: 750px; max-width: 100%;">
{% endblock %}