{% extends "TinDevApp/base/base_home.html" %}
{% load static %}

{% block title %}Candidate's Homepage{% endblock %}
 
{% block nav %}
   <nav class="navbar primary">
       <a class="nav-item" href="{% url 'TinDevApp:candidate-home' name %}">Home</a>
       <a class="nav-item" href="{% url 'TinDevApp:CandidateViewActive' name %}">Job Board</a>
       <a class="nav-item" href="{% url 'TinDevApp:ApplicationView' name %}">My Applications</a>
       <a class="nav-item active" href="{% url 'TinDevApp:OfferView' name %}">My Offers</a>
       <a class="nav-item" href="{% url 'TinDevApp:candidate-login' %}">Logout</a>
   </nav>
{% endblock %}

{% block content %}
   <div class="dashboard">
    {%for offer in offers%}
        {% if offer.app_id.status == 'EXND' %}
        <ul class="list-group">
                <li class="list-group-item"> 
                    <h1>{{offer.app_id.job.position}} for {{offer.app_id.job.company}}</h1>
                    <p>
                        <h2 style="color:orange;">Status: Offer Extended </h2>
                        <h2>Salary: ${{offer.yearly_salary}}</h2>
                        <h2>Expiration Date: {{offer.expiration_date}}</h2>
                        <a href="{% url 'TinDevApp:CandidateOfferReject' name=name id_num=offer.app_id.id %}" class="btn btn-danger" role="button">Reject Offer</a>
                        <a href="{% url 'TinDevApp:CandidateOfferAccept' name=name id_num=offer.app_id.id %}" class="btn btn-danger" role="button">Accept Offer</a> 
                    </p>
                </li>
        </ul>   
        {% elif offer.app_id.status == 'EXPR' %}
        <ul class="list-group">
            <li class="list-group-item"> 
                <h1>{{offer.app_id.job.position}} for {{offer.app_id.job.company}}</h1>
                <h2 style="color:red;">Status: Offer Expired on {{offer.expiration_date}}</h2>
            </li>
        </ul>   
        {% endif %}
    {% endfor %}
   </div>
{% endblock %}