{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TinDev - {{name}}: {{post.position}} Posting</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

		<h1><center>View {{post.position}} for {{post.company}}'s Applicants</center></h1>
		
		{%for app in list%}
			<ul class="list-group">
					<li class="list-group-item"> 
						<h1>Name: {{app.candidate.name}}</h1>
						<p> 
							<h2> &emsp; Years: {{app.candidate.years}}</h2>
							<h2> &emsp; Skills: {{app.candidate.skills}}</h2>
                            <h2> &emsp; Compatibility Scores: {{app.compatibility_score}}%</h2>
							{% if app.status == 'APLY' %}
                        		<h2 style="color:blue;"> &emsp; Status: Applied/Pending</h2>
                    		{% elif app.status == 'REJT' %}
                        		<h2 style="color:red;"> &emsp; Status: Rejected</h2>
                    		{% elif app.status == 'ACCT' %}
                        		<h2 style="color:green;"> &emsp; Status: Accepted</h2>
                    		{% elif app.status == 'EXND' %}
                        		<h2 style="color:orange;"> &emsp; Status: Offer Extended </h2>
                    		{% endif %}
							<a href="{% url 'TinDevApp:CandidateReject' name=name id_num=id_num app_id=app.id%}" class="btn btn-danger" role="button">Remove Application</a> 
							
					  </p>
					</li>
			</ul>		
    	{% endfor %}    
		<br>
		<div class="mx-auto" style="width: 20rem;">
            <div class="card text-white mb-3" style="max-width: 30rem;">
				<div class="card-body">
					<h4 class="card-title"><u>Extend Offer</u></h4>
					<form method="post">{% csrf_token %}
						{%for app in list%}
							{% if app.status == "APLY"%}
								<input type="checkbox" value="{{app.id}}" name="applicant_{{app.id}}" id="app_{{app.id}}">
								<label for="{{app.candidate.name}}">{{app.candidate.name}}</label>
								<br>
							{% endif %}
						{% endfor %}
						{{form.as_p}}
						<br>
						<input type="submit" value="Save" class="btn btn-light">
					</form>
				</div>
			</div>
		</div>

<!-- Import's Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
