{% extends "TinDevApp/base/base_home.html" %}
{% load static %}
{% block title %}Recruiter's Homepage{% endblock %}

{% block nav %} 
    <nav class="navbar primary">
        <a class="nav-item active" href="{% url 'TinDevApp:recruiter-home' name %}">Home</a>
        <a class="nav-item" href="{% url 'TinDevApp:postAdd' name %}">Create a Post</a>
		<a class="nav-item" href="{% url 'TinDevApp:postViewActive' name %}">View Current Posts</a>
        <a class="nav-item" href="{% url 'TinDevApp:RecruiterProfile' name %}">Update Profile</a>
		<a class="nav-item" href="{% url 'TinDevApp:recruiter-login' %}">Logout</a>
    </nav>
{% endblock %}

{% block content %} 
    <img src="{% static 'main.jpeg' %}" alt="home_page" style="width: 750px; max-width: 100%;">
{% endblock %}
