{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>TinDev - {{name}}: Delete Post</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

		<h1><center>{{active}} Posts Made by {{name}}</center></h1>
		<p>
			<center>
				<a href="{% url 'TinDevApp:postViewAll' name=name %}" class="btn btn-primary" role="button">All Posts</a>
				<a href="{% url 'TinDevApp:postViewActive' name=name %}" class="btn btn-primary" role="button">Active Posts</a>
				<a href="{% url 'TinDevApp:postViewInactive' name=name %}" class="btn btn-primary" role="button">Inactive Posts</a>
				<a href="{% url 'TinDevApp:postViewApplicant' name=name %}" class="btn btn-primary" role="button">Applicant-Filled Posts</a>

				<a href="{% url 'TinDevApp:recruiter-home' name=name %}" class="btn btn-primary" role="button">Home</a>
			</center>
		</p>
		{%for item in list%}
			<ul class="list-group">
					<li class="list-group-item"> 
						<h1>Position: {{item.position}} <span class="w3-badge w3-green w3-border"> {{item.applicant_count}} </span> </h1>
						<p> 
							<h2> &emsp; Company: {{item.company}}</h2>
							<h2> &emsp; Skills: {{item.skills}}</h2>
							{% if item.active == 'A' %}		
								<h2> &emsp; Status: Active</h2>
							{% else %}
								<h2> &emsp; Status: Inactive</h2>
							{% endif %}

							{% if item.pos_type == 'FULL' %}		
								<h2> &emsp; Status: Full-Time</h2>
							{% else %}
								<h2> &emsp; Status: Part-Time</h2>
							{% endif %}


					  </p>

						<p> 
								<a href="{% url 'TinDevApp:postDelete' name=name id_num=item.pk%}" class="btn btn-danger" role="button">Delete Post</a> 
						</p>
					</li>

			</ul>		
    {% endfor %}    

<!-- Import's Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
