{% extends "TinDevApp/base/base_home.html" %}
{% load static %}

{% block title %}Recruiter's Homepage{% endblock %}
 
{% block nav %}
	<nav class="navbar primary">
		<a class="nav-item" href="{% url 'TinDevApp:recruiter-home' name %}">Home</a>
		<a class="nav-item" href="{% url 'TinDevApp:postAdd' name %}">Create a Post</a>
		<a class="nav-item active" href="{% url 'TinDevApp:postViewActive' name %}">View Current Posts</a>
		<a class="nav-item" href="{% url 'TinDevApp:recruiter-login' %}">Logout</a>
	</nav>
 
   <nav class="navbar second-navbar">
       <a href="{% url 'TinDevApp:postViewAll' name=name %}" class="sub-nav {% if active == 'All' %}active{% endif %}">All Posts</a>
       <a href="{% url 'TinDevApp:postViewActive' name=name %}" class="sub-nav {% if active == 'Active' or active == 'Description Searched' or active == 'Zipcode Searched' %}active{% endif %}">Active Posts</a>
       <a href="{% url 'TinDevApp:postViewInactive' name=name %}" class="sub-nav {% if active == 'Inactive' %}active{% endif %}">Inactive Posts</a>
   </nav>
{% endblock %}
{% block content %}
	<h3 style="color: #2374ab; font-weight: 700;"><center>Applicants for {{post.company}}'s {{post.position}} Position</center></h3>
   <div class="dashboard">
		{%for app in list%}
			<ul class="list-group">
					<li class="list-group-item"> 
						<h1>Name: {{app.candidate.name}}</h1>
						<p> 
							<h2> &emsp; Years: {{app.candidate.years}}</h2>
							<h2> &emsp; Skills: {{app.candidate.skills}}</h2>
                            <h2> &emsp; Compatibility Scores: {{app.compatibility_score}}%</h2>
							{% if app.status == 'APLY' %}
                        		<h2 style="color:blue;"> &emsp; Status: Applied/Pending</h2>
                    		{% elif app.status == 'REJT' %}
                        		<h2 style="color:red;"> &emsp; Status: Rejected</h2>
                    		{% elif app.status == 'ACCT' %}
                        		<h2 style="color:green;"> &emsp; Status: Accepted</h2>
                    		{% elif app.status == 'EXND' %}
                        		<h2 style="color:orange;"> &emsp; Status: Offer Extended </h2>
							{% elif app.status == 'EXPR' %} 
								<h2 style="color:red;"> &emsp; Status: Offer Expired on {{app.offer_expire}}</h2>
                    		{% endif %}
							<a href="{% url 'TinDevApp:CandidateReject' name=name id_num=id_num app_id=app.id%}" class="btn btn-danger" role="button">Remove Application</a> 
							
					  </p>
					</li>
			</ul>		
    	{% endfor %}    
   	</div>

	<br>
	<div class="mx-auto" style="width: 20rem;">
		<div class="card mb-3" style="margin-top: 15px">
			<div class="card-body">
				<h4 class="card-title" style="font-weight: 700; color: #f65454"><u>Extend Offer</u></h4>
				<form method="post">{% csrf_token %}
					{%for app in list%}
						{% if app.status == "APLY"%}
							<input type="checkbox" value="{{app.id}}" name="applicant_{{app.id}}" id="app_{{app.id}}">
							<label for="{{app.candidate.name}}" style="font-size: 16px; padding-bottom: 3px;">{{app.candidate.name}}</label>
							<br>
						{% endif %}
					{% endfor %}
					{{form.as_p}}
					<br>
					   <input type="submit" value="Save" class="btn btn-light">
				   </form>
			   </div>
		   </div>
	</div>
{% endblock %}
