{% extends "TinDevApp/base/base_home.html" %}
{% load static %}
{% block title %}Recruiter's Homepage{% endblock %}

{% block nav %} 
    <nav class="nav">
        <a href="{% url 'TinDevApp:recruiter-home' name %}" id="active">Home</a>
        <a href="{% url 'TinDevApp:postAdd' name %}" id="inactive">Create a Post</a>
		    <a href="{% url 'TinDevApp:postViewActive' name %}" id="inactive">View Current Posts</a>
		    <a href="{% url 'TinDevApp:recruiter-login' %}" id="inactive">Logout</a>
    </nav>
{% endblock %}

{% block content %} 
    <img src="{% static 'main.jpeg' %}" alt="home_page" style="width: 750px; max-width: 100%;">
{% endblock %}
