{% extends "TinDevApp/base/base_home.html" %}
{% load static %}

{% block logo %}
<a href="{% url 'TinDevApp:candidate-home' name %}">
    <img id ="tindev_logo" src="{% static 'Logo.jpg' %}" alt="tindev-logo">
</a>
{% endblock %}

{% block title %}Candidate's Homepage{% endblock %}
 
{% block nav %}
   <nav class="navbar primary">
       <a class="nav-item" href="{% url 'TinDevApp:candidate-home' name %}">Home</a>
       <a class="nav-item" href="{% url 'TinDevApp:CandidateViewActive' name %}">Job Board</a>
       <a class="nav-item active" href="{% url 'TinDevApp:ApplicationView' name %}">My Applications</a>
       <a class="nav-item" href="{% url 'TinDevApp:OfferView' name %}">My Offers</a>
       <a class="nav-item" href="{% url 'TinDevApp:CandidateProfile' name %}">Update Profile</a>
       <a class="nav-item" href="{% url 'TinDevApp:candidate-login' %}">Logout</a>
   </nav>
{% endblock %}
{% block content %}
   <div class="dashboard">
    {%for item in list%}
        <ul class="list-group">
                <li class="list-group-item"> 
                    <h1>{{item.job.position}} for {{item.job.company}}</h1>
                    {% if item.status == 'APLY' %}
                        <h2 style="color:blue;">Status: Applied/Pending</h2>
                    {% elif item.status == 'REJT' %}
                        <h2 style="color:red;">Status: Rejected</h2>
                    {% elif item.status == 'ACCT' %}
                        <h2 style="color:green;">Status: Accepted</h2>
                    {% elif item.status == 'EXND' %}
                        <h2 style="color:orange;">Status: Offer Extended </h2>
                    {% elif item.status == 'EXPR' %} 
                        <h2 style="color:red;"> &emsp; Status: Offer Expired on {{item.offer_expire}}</h2>
                    {% endif %}
                </li>
        </ul>		
    {% endfor %}
   </div>
  
{% endblock %}