h5{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


body {
    text-align: center;
}
form {
    display: inline-block;
}


.card{
    background-color: #3fa6fe !important;
}
.loginBody {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    text-align: center;
    font-size: xx-large;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    color: #12caf0;
}
input, textarea, button {
    border-color: white !important;
    outline: none !important; 
    box-shadow: none !important;
}
